---
import MainLayout from "../../layouts/Main.astro";
import { PATRONS, type Patron } from "../data/patrons.json";

const PATRONS_KEYS = Object.keys(PATRONS);
---

<MainLayout title="Colaboradores">
  <!-- TODO Rn setting width and height doesn't affect bc Image does not process public images -->
  <main>
    <div id="title-wrap" class="pt-10 mb-14 mx-auto">
      <h1 class="block text-4xl font-semibold">Colaboradores</h1>
      <p>Diferentes entidades y empresas colaboran con nuestro evento haciéndolo posible, disfrutando también de un amplio rango de ventajas. <a href="/2025/colaboracion/como-colaborar/">Únete a ellas y disfruta de todas las ventajas &rarr;</a></p>
    </div>

    {
      PATRONS_KEYS.map((key) =>
        PATRONS[key].length > 0 ? (
          <section class={key}>
            <h2 class="capitalize">{key}</h2>
            <div class="img-grid">
              {PATRONS[key].map((patron) => (
                <a href={patron.website}>
                  {typeof patron.logo === "string" ? (
                    <img src={patron.logo} alt={patron.name} data-pagefind-index-attrs="alt" />
                  ) : (
                    <>
                      <img
                        class="dark:hidden"
                        src={patron.logo.light}
                        alt={patron.name}
                        data-pagefind-index-attrs="alt"
                      />
                      <img
                        class="hidden dark:block"
                        src={patron.logo.dark}
                        alt={patron.name}
                      />
                    </>
                  )}
                </a>
              ))}
            </div>
          </section>
        ) : (
          <></>
        ),
      )
    }
    <a href="/2025/colaboracion/como-colaborar" class="text-lg text-center block mb-20 italic px-5">Descubre como participar y aparecer también en nuestra web &rarr;</a>
  </main>
</MainLayout>

<style>
   #title-wrap, section {
    max-width: min(900px, 90vw);
   }

  section {
    @apply border-4 rounded-lg relative;
    padding: 2.5rem 2rem 2rem 2rem;
    margin: 2rem auto;

    border-color: var(--emph, red);
  }
  section h2 {
    @apply border-4 rounded-lg text-dark text-2xl font-semibold absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    display: block;
    text-align: center;
    width: fit;
    padding: 0 0.75rem;

    border-color: var(--emph, red);
    background-color: var(--emph, red);
  }
  
  .platino {
    --emph: #e5e4e2;
  }
  .oro {
    --emph: var(--oro);
  }
  .plata {
    --emph: var(--plata);
  }
  .bronce {
    --emph: var(--bronce);
  }
  .colaborador {
    --emph: #fda575;
  }

  .platino h2::before, .platino h2::after {
    content: '🏆';
    display: inline-block;
    margin: 0 5px;
  }

  img.platino,
  .platino img {
    max-height: 125px;
    max-width: 400px;
  }

  img.oro,
  .oro img {
    max-height: 100px;
    max-width: 400px;
  }

  img.plata,
  .plata img {
    max-height: 90px;
    max-width: 400px;
  }

  .bronce img {
    max-height: 75px;
    max-width: 175px;
  }

  .colaboradores img {
    max-height: 70px;
    max-width: 165px;
  }

  .img-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .img-grid img {
    max-width: 85vw;
  }

  section:last-of-type {
    margin-bottom: 3em;
  }
</style>
